.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background: rgba(255, 255, 255, 0.8); /* Optional: background color */
}
  
.loader {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
}
  