:host {
    width: 100%;
  }
  
  .upload-files-container {
    height: 500px;
      background-color: #f7fff7;
      padding: 30px 60px;
      border-radius: 40px;
      display: flex;
    align-items: center;
    justify-content: center;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
  }
  
  .drop-area {
    border: 2px dashed #7b2cbf;
      border-radius: 40px;
      margin: 10px 0 15px;
      padding: 30px 50px;
      text-align: center;
  }
  
  .error {
    color: red;
  }
  
  .hide {
    display: none;
  }
  
  .pointer {
    cursor: pointer;
  }
  